/* default style start */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
:root {
    --primary: #6e38f7;
    --dark: #363940;
    --secondary: #95a1bb;
    --border-color: #E1E5EE;
    --fontRubik: "Rubik", sans-serif;
    --linkFont: 500 12px/20px var(--fontRubik);
    --titleFont: 500 58px/68px var(--fontRubik);
    --descFont: 400 14px/22px var(--fontRubik);
    --defaultTitle: 500 36px/43px var(--fontRubik);
    --colTitle: 500 18px/22px var(--fontRubik);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontRubik);
}

.container {
    width: 940px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

header {
    max-width: 1400px;
    height: 800px;
    margin: 0 auto;
}


/* default style end */


/* navbar start */

.navbar-box {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-navs {
    display: flex;
    align-items: center;
    gap: 44px;
}

.left-navs .list {
    width: 357px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-navs .list a {
    color: var(--dark);
}

.right-navs a {
    color: var(--primary);
}

.right-navs {
    width: 136px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-hero {
    text-transform: uppercase;
    font: var(--linkFont);
    letter-spacing: 2px;
    font-feature-settings: "clig" off, "liga" off;
}


/* navbar end */


/* section.hero start */

.hero {
    width: 100%;
    background: url("../img/hero-bg.svg") no-repeat;
    background-position: right 16px;
}

.hero-box {
    padding-top: 135px;
}

.hero-box>h1 {
    width: 344px;
}

.title {
    font: var(--titleFont);
    color: var(--dark);
}

.buttons {
    display: flex;
    gap: 24px;
    margin: 38px 0 36px;
}

.buttons .btn {
    width: 157px;
    height: 46px;
    font: var(--linkFont);
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.scroll {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 161px;
    font: var(--linkFont);
    color: var(--primary);
}

.buttons .bg-primary {
    background: var(--primary);
    color: #fff;
}

.buttons .bg-light {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.desc {
    color: var(--secondary);
    font: var(--descFont);
}


/* section.hero end */


/* section.features start */

section.features {
    max-width: 1400px;
    height: 522px;
    margin: 0 auto;
}

.features-box {
    padding-top: 100px;
    text-align: center;
}

.default-title {
    font: var(--defaultTitle);
    letter-spacing: 0px;
    color: var(--dark);
}

.features-box .desc {
    width: 396px;
    font-size: 16px;
    margin: 20px auto 50px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    width: 205px;
    text-align: left;
}

.col-title {
    font: var(--colTitle);
    letter-spacing: 0px;
    color: var(--dark);
}

.col-desc {
    font: var(--descFont);
    font-size: 16px;
    letter-spacing: 0px;
    color: var(--secondary);
    margin: 15px 0 20px;
}

.get-btn {
    font: var(--linkFont);
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    color: var(--primary);
}


/* section.features end */


/* cta start */

.call-to-action {
    max-width: 1400px;
    height: 501px;
    padding-top: 95px;
    margin: 0 auto;
}

.cta-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-box .cta-logo {
    width: 48px;
    height: 48px;
    margin-bottom: 40px;
}

.cta-box .title {
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.cta-box>p {
    width: 396px;
    text-align: center;
    margin-bottom: 40px;
}

.cta-box .cta-buttons {
    display: flex;
    gap: 20px;
}

.cta-box .cta-buttons .app-story,
.cta-box .cta-buttons .google-play {
    width: 166px;
    height: 46px;
    border-radius: 4px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    padding-top: 9.64px;
    background-repeat: no-repeat;
}

.cta-box .cta-buttons .app-story {
    background-image: url("/assets/img/app-story.svg");
    background-position: 15.34px 11px;
    padding-left: 56.84px;
}

.cta-box .cta-buttons .google-play {
    background-image: url("/assets/img/google-play-icon.svg");
    background-position: 17px 11.53px;
    padding-left: 52.34px;
}

.cta-box .cta-buttons .app-story span:nth-child(1),
.cta-box .cta-buttons .google-play span:nth-child(1) {
    color: #fff;
    font: 500 8px / normal var(--fontRubik);
    letter-spacing: 0.6px;
}

.cta-box .cta-buttons .app-story span:nth-child(2),
.cta-box .cta-buttons .google-play span:nth-child(2) {
    color: #fff;
    font: 400 18px / normal var(--fontRubik);
    letter-spacing: 0.6px;
}


/* cta end */


/* testmonials start */

.testmonials {
    width: 100%;
    height: 643px;
    padding-top: 100px;
}

.testmonials .tm-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testmonials .tm-box .cards {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.testmonials .tm-box .cards .card {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.testmonials .tm-box .cards .card .card-img img {
    width: 100%;
    height: 160px;
}

.testmonials .tm-box .cards .card .card-stars {
    margin: 20px 0;
    display: flex;
}

.testmonials .tm-box .cards .card .card-desc {
    font: var(--descFont);
    font-size: 16px !important;
    color: var(--dark);
}

.testmonials .tm-box .cards .card .card-info {
    font: var(--linkFont);
    text-transform: uppercase;
    color: var(--secondary);
    letter-spacing: 2px;
    margin-top: 20px;
}


/* testmonials end */


/* pricing start */

.pricing {
    max-width: 1400px;
    margin: 0 auto;
    height: 702px;
}

.pricing-box {
    padding-top: 100px;
    text-align: center;
}

.pricing-box .desc {
    margin: 20px 0 40px;
}

.pricing-box .cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing-box .cards .card-active {
    border: 1px solid var(--primary);
}

.pricing-box .card .popular {
    width: 90px;
    height: 28px;
    position: absolute;
    top: -14px;
    left: 20px;
    background-color: var(--primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font: var(--linkFont);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.pricing-box .card {
    position: relative;
    width: 300px;
    height: 377px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 40px 47px;
}

.pricing-box .card .card-title {
    font: var(--colTitle);
    color: var(--dark);
}

.pricing-box .card .free {
    color: var(--border-color) !important;
}

.pricing-box .card .card-price {
    font: var(--defaultTitle);
    color: var(--dark);
    margin: 30px auto 10px;
}

.pricing-box .card .card-f {
    font: var(--descFont);
    font-size: 16px !important;
    margin: 20px auto;
}

.pricing-box .card .card-btn {
    margin-top: 10px;
    border: 1px solid var(--primary);
    font: var(--linkFont) !important;
    text-transform: uppercase;
    padding: 8px 23px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    letter-spacing: 2px;
    color: var(--primary);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.pricing-box .card .card-btn:hover {
    color: #fff;
    background: var(--primary);
}


/* pricing end */


/* portfolio start */

.portfolio {
    width: 100%;
    height: 977px;
    padding-top: 100px;
}

.portfolio-box {
    text-align: center;
}

.portfolio-box .desc {
    width: 410px;
    font-size: 16px !important;
    margin: 20px auto 50px;
}

.portfolio-box .p-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolio-box .p-row .p-col {
    width: 300px;
    height: 300px;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.portfolio-box .p-row .p-col .col-img {
    width: 290px;
    height: 290px;
    border-radius: 10px;
}

.demo-btn {
    position: absolute;
    bottom: -40px;
    width: 100px;
    height: 40px;
    background: var(--primary);
    color: var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font: var(--linkFont);
    font-size: 20px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    z-index: 10;
}

.portfolio-box .p-row .p-col::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.portfolio-box .p-row .p-col:hover::before {
    background: rgba(0, 0, 0, 0.5);
}

.portfolio-box .p-row .p-col:hover .demo-btn {
    bottom: calc(50% - 20px);
}


/* portfolio end */